
html {font-size: 62.5%;}
body { 
    font-family: Poppins, 'Helvetica Neue', sans-serif;
    font-size: 1.4rem;
    line-height: 1.5;
    padding: 15px;
    background-image: url('../img/sfondo.png');
    background-position: center center;
}

.muro {
  
    margin:  20px;
    padding: 100px;
    background-color: rgb(216, 216, 216);
    display: flex;
    flex-wrap: wrap;
    row-gap: 15px;
    column-gap: 15px;
    justify-content: space-around;
    background-color: #666666;
    overflow-wrap: break-word;
}

.postit {
    width: 250px;
    height: 150px; 
    margin: 20px 5px 20px 5px;
    background-color: royalblue;
    float:left;
    position: relative;
    overflow:hidden;
    
} 

p {
    text-align: center;
    padding:40px;
}

h2{
    text-align: center;
    padding-top: 20px;
}




.verde{
    background-color: #cafacc;
    
}

.giallo{
    background-color: #fafbc9;
}

.viola{
    background-color: #cacafa;
}




.sinistra{
    transform: rotate(-10deg);
}


.destra{
    transform: rotate(10deg);
}

